.skillBlock {
    width: 250px;
    background-color: #e3beff;
    box-sizing: border-box;
    padding: 20px;
}
.icon {
    width: 60px;
    height: 60px;
    background-color: #c8ffce;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}