@import '../Common/Styles/Mixins';
@import '../Common/Styles/Variables';

.projectsBlock {
  background-color: $bgColor;
  scroll-behavior: smooth;


  .container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      column-gap: 30px;
      @media screen and (max-width: 913px) {
        justify-content: center;
      }
    }
  }
}




