@import '../Common/Styles/Variables';
@import '../Common/Styles/Mixins';

.mainBlock {
  height: 80vh;
  background-color: $bgColor;

  .container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    @media screen and (max-width: 1188px) {
      justify-content: center;
    }

    .inform {
      div {
        display: inline-block;
        width: 100%;
        @include textParameters($titleFontFamily, 30px, 600, $textColor, 1.2);
        @media screen and (max-width: 1188px) {
        }
        @media screen and (max-width: 650px) {
          @include textParameters($titleFontFamily, 20px, 600, $textColor, 1.2);
        }
      }
      span {
        width: 100%;
        text-decoration: line-through;
        text-align: start;
        @include textParameters($titleFontFamily, 30px, 600, $textColor, 1.2);
        @media screen and (max-width: 1188px) {
        }
        @media screen and (max-width: 650px) {
          @include textParameters($titleFontFamily, 20px, 600, $textColor, 1.2);
        }
      }
      h1 {
        margin: 0;
        @include textParameters($titleFontFamily, 41px, 600, $activeTextColor, 1.2);
        text-align: center;
        @media screen and (max-width: 650px) {
          @include textParameters($titleFontFamily, 31px, 600, $activeTextColor, 1.2);
        }
      }

      p {
        margin: 0;
        @include textParameters($titleFontFamily, 30px, 600, $textColor, 1.2);
        text-align: center;
        @media screen and (max-width: 650px) {
          @include textParameters($titleFontFamily, 20px, 600, $textColor, 1.2);
        }

      }
    }

    .photo {
      width: 400px;
      height: 400px;
      background-size: cover;
      background-position: center;
      position: relative;

    }
  }
}





