@import "../../Common/Styles/Variables";
@import "../../Common/Styles/Mixins";


.container {
    width: 100%;
    .title {
        display: block;
        text-transform: uppercase!important;
        margin: 0;
        padding-bottom: 3rem!important;
        box-sizing: border-box;
        text-align: center;
        @include textParameters($titleFontFamily, 24px, 600, $textColor, 1.2)
    }

}
