@import "../Common/Styles/Variables";

.header {
  height: 80px;
  background-color: $bgColor;

  .container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
}

