@import '../../Common/Styles/Mixins';
@import '../../Common/Styles/Variables';


.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $textColor;

  a {
    display: block;

    text-transform: uppercase!important;
    margin: 0;
    text-align: center;
    text-decoration: none;
    @include textParameters($titleFontFamily,24px,600,inherit);
    transition: .3s;
    @media screen and (max-width: 600px){
      @include textParameters($titleFontFamily,15px,600,inherit);
    }
    &:hover {
      color: $activeTextColor;
    }
  }
}