@import '../Common/Styles/Variables';
@import '../Common/Styles/Mixins';

.footerBlock {
  background-color: $bgColor;

  .container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    align-items: center;


    .icons {
      height: 80px;
      width: 70%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;

      .item {
        height: 80px;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s;
        opacity: 0.7;
        &:hover {
          opacity: 1;
        }
      }
    }

  }

}
